/* Reset some default browser styles */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

main {
    padding: 20px;
}

#accommodation-intro {
    text-align: center;
    margin-bottom: 20px;
}

#accommodation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.accommodation-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
}

.accommodation-card img {
    width: 100%;
    height: auto;
}

.accommodation-card h2 {
    font-size: 1.5em;
    margin: 20px;
}

.accommodation-card p {
    margin: 0 10px 10px;
}

.btn-book {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
}

.btn-book:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}
