
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 15px;
}

li, h1, ul {
    display: inline;
}

ul {
    margin-left: 60%;
}

li {
    color: grey;
    cursor: pointer;
}

li:hover {
    color: white;
}
footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

